/* whole website style*/

body {
	background-color: #f1e0c5;
}
html{
	font-family: Arial, sans-serif;
}

/* form elements style */

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
}
select{
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	width: 100%;
}
input[type=number]{
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	width: 100%;
}
input[type=email] {
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	width: 100%;
}
input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
}
input[type=submit] {
	background-color: #D0B18D; 
    border: 2px #4CAF50;
    color: black;
    padding: 16px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 8px 0;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover{
	background-color: #4CAF50;
    color: white;
    width: 100%;
}

/* header style class*/

.header{
	border-radius: 5px;
	background: #73AD21;
	padding: 20px;
	text-align: center;
	color: whitesmoke;
	font-size: 2em;
	height: 50px;
}
/* bar style classes  */

.footer-bar{
	border-radius: 10px;
	background: #a37643;
	color: whitesmoke;
	height: 25px;
	padding: 5px;
	text-align: center;
	font-size: 1.125em;
}
.bar{
	background: #cba880;
	color: black;
	border-radius: 5px;
	height: 20px;
	text-align: center;
	padding: 10px;
	font-size: 1.25em;
}
/* left menu (list) style */

.left-menu-ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

li.left-menu-li{
	background: #73AD21;
	border-radius: 10px;
	margin-top: 2px;
}

li.left-menu-li a{
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
}
li.left-menu-li a:hover{
	background: #4CAF50;
	color: whitesmoke;
	border-radius: 10px;
}

/* main content style */

.content{
	margin: 10px;
}

/* Latest ads style */
.table-latest-ads{
	width:50%;
	background:#ffe882;
	border-collapse:collapse;
}

.left-column-latest-ads{
	text-align: left;
}

.right-column-latest-ads{
	text-align: right;
}

.top-row-latest-ad{
	text-align: center;
	background: #ffb259;
	border-radius: 2px;
}
.table-latest-ads:hover{
	background: #ffdd6c;
}
.href-latest-ad{
	text-decoration:none;
	color: inherit;
}

/* describes how ad content looks*/
.detailed-ad-table{
	width: 100%;
}
.detailed-ad-title{
	text-align: center;
	background: #ebb652;
	height: 50px;
}
.detailed-ad-price-left{
	text-align: left;
	background: #83eb78;
	height:25px;
}
.detailed-ad-price-right{
	text-align: right;
	background: #83eb78;
	height:25px;
}
.detailed-ad-location-left{
	text-align: left;
	background: #b289eb;
	height: 25px;
}
.detailed-ad-location-right{
	text-align: right;
	background: #b289eb;
	height: 25px;
}
.detailed-ad-category-left{

}
